<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pupplecow.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.manager.home.Complaint.ManagerComplaintListActivity"></activity>
        <activity android:name=".ui.home.complaint.ComplaintListActivity" />
        <activity android:name=".ui.manager.home.Complaint.ManagerComplaintActivity" />
        <activity android:name=".ui.manager.announcement.ManagerCreateAnnouncementActivity" />
        <activity android:name=".ui.manager.announcement.ManagerAnnouncementActivity" />
        <activity android:name=".ui.manager.home.ManagerWorkersStatusActivity" />
        <activity android:name=".ui.manager.home.ManagerWorkerInfoActivity" />
        <activity android:name=".ui.manager.settings.ManagerResettingPassword1" />
        <activity android:name=".ui.manager.settings.ManagerResettingPassword2" />
        <activity android:name=".ui.home.ConfirmWaitingActivity" />
        <activity android:name=".ui.manager.ManagerNavActivity" />
        <activity android:name=".MainNavActivity" />
        <activity android:name=".ui.login.ResettingPassword2" />
        <activity android:name=".ui.login.ResettingPassword1" />
        <activity android:name=".SettingCheckSafetyManual" />
        <activity android:name=".SettingTermsAndPolicy" />
        <activity android:name=".SettingOpenSourceLicense" />
        <activity android:name=".SettingMyInformationSettingActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".temporaryStorage.WorkersStatusActivity" />
        <activity android:name=".temporaryStorage.AnnounceMentListActivity" /> <!-- <activity android:name=".Setting" /> -->
        <activity android:name=".ui.announcement.AnnouncementWorkerActivity" />
        <activity android:name=".EmergencyNoticeActivity" />
        <activity android:name=".temporaryStorage.ManageActivity" />
        <activity android:name=".ui.home.complaint.MyComplaintActivity" />
        <activity android:name=".ui.home.complaint.ComplaintActivity" />
        <activity android:name=".ui.home.SafetyManualQuizActivity3" />
        <activity android:name=".temporaryStorage.CheckInActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".temporaryStorage.HomeActivity1" />
        <activity android:name=".ui.home.SafetyManualQuizActivity2" />
        <activity android:name=".ui.home.SafetyManualQuizActivity1" />
        <activity android:name=".ui.home.SafetyManualQuizWebViewActivity1" />
        <activity android:name=".ui.login.RegisterActivity2" />
        <activity android:name=".ui.login.RegisterActicity1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>